body{

background:#0d1117;

color:white;

font-family:Segoe UI;

padding:30px;

}



h1{

color:#58a6ff;

}



table{

width:100%;

border-collapse:collapse;

background:#161b22;

}



th{

padding:15px;

background:#21262d;

}



td{

padding:15px;

text-align:center;

border-bottom:1px solid #30363d;

}



tr:hover{

background:#21262d;

}