*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    display:flex;
    background:#0d1117;
    color:white;
}

/* Sidebar */

.sidebar{
    width:250px;
    min-height:100vh;
    background:#161b22;
    padding:20px;
}

.sidebar h2{
    text-align:center;
    color:#58a6ff;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:15px 0;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px;
    border-radius:8px;
}

.sidebar ul li a:hover{
    background:#238636;
}

/* Main Content */

.main-content{
    flex:1;
    padding:25px;
}

.header h1{
    margin-bottom:25px;
}

/* Cards */

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.card{
    background:#21262d;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.card h3{
    color:#8b949e;
    margin-bottom:15px;
}

.card h2{
    color:#58a6ff;
}

/* Table */

.recent-activity{
    margin-top:40px;
}

.recent-activity h2{
    margin-bottom:15px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#161b22;
}

table th,
table td{
    padding:15px;
    border:1px solid #30363d;
    text-align:center;
}

table th{
    background:#21262d;
}